.Toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;

  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: rgba(133, 231, 52, 0.993);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

@media (max-width: 549px) {
  .Toolbar nav {
    display: none;
  }
}