.Toolbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;

  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color: #49ddda;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

@media (max-width: 660px) {
  .Toolbar nav {
    display: none;
  }
}