.Drawer .content {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  font-size: 2rem;
  color: rgb(0, 0, 0);
  background-color:#49ddda;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: transform .3s ease-out;
}

.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-310px);
}

@media (min-width: 660px) {
  .Drawer  {
    display: none;
  }
}