.ChipsTaste {
 display: flex;
 flex-direction: column;
 background-size: cover;
 /* animation: spin 1s ease-out 1; */
}
/* @keyframes spin {
  0% {
    transform: translateY(340px) translateX(120px);
  }
  100% {
    transform: translateY(0px);
    transform: translateX(0px);
  }
} */