.ChipsTaste {
 display: flex;
 flex-direction: column-reverse;
 background-size: cover;
 margin-top: 2px;
 margin-bottom: 2px;
 align-items: center;
 justify-content: flex-start;

}


.holder{
  height: 14px;
  width: 8px;
  background-color: #2009f1;
}