.Button {
  border: 0;
  margin: .3rem .5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgba(194, 220, 245, 0.603);
  color: rgb(247, 83, 83);
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Courgette', cursive;
}
.Button:not(:disabled):hover {
  background-color: rgb(255, 4, 4);
  color: rgb(255, 255, 255);
}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: .5;
}

.green {
  
  background-color: rgba(228, 245, 194, 0.603);
}
.green:not(:disabled):hover {
  background-color: rgb(73, 238, 67);
}