.Button {
  border: 0;
  margin: 0 .5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: rgb(114, 219, 76);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}
.Button:not(:disabled):hover {
  background-color: rgb(0, 46, 172);
}
.Button:focus {
  outline: none;
}
.Button:disabled {
  opacity: .5;
}

.green {
  background-color: rgb(137, 255, 133);
}
.green:not(:disabled):hover {
  background-color: rgb(238, 203, 6);
}