.ChipsPreview {
  flex: 0 0 400px;
  
  margin-right: 1rem;
  margin-bottom: 1rem;
  
  
  
  justify-content: space-between;
  flex-direction: column;
  
 
 
}
.pizza {
 min-height: 400px;
  
  margin-bottom: 1rem;
  
  background-color: #fcc067;

  
}
.tastes {
  
  width: 400px;
  
  margin: 2px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
}
.price {
  display: inline;
  background-color: tomato;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}