.ChipsPreview {
  flex: 0 0 400px;
  
  margin-right: 1rem;
  margin-bottom: 1rem;
  
  
  
  
  
  width: 100%;
 
}
.pizza {
 min-height: 400px;
  width: 100%;
  margin-bottom: 1rem;
  
  /* background-color: #49dd90; */
  background-image: url(../../../image/box.png);
  background-size: 100% 100%;


  
}
.tastes {
  
  max-width: 320px;
  width: 100%;

  margin: 2px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;


  display: flex;
  flex-wrap: wrap;
  background-size: cover;
}
.price {
  display: inline;
  background-color:  #49dd90;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}